.list {
  overflow: auto;
  border: 1px solid black;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.item {
  display: flex;
  width: 100%;
}
