.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}
.title {
  margin: 0;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.body {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
